<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">

	<!-- wp:pattern {"slug":"ciwa-final/hero"} /-->

	<!-- wp:pattern {"slug":"ciwa-final/how-help"} /-->

	<!-- wp:pattern {"slug":"ciwa-final/welcome"} /-->

	<!-- wp:pattern {"slug":"ciwa-final/programs"} /-->

	<!-- wp:pattern {"slug":"ciwa-final/events"} /-->

	<!-- wp:pattern {"slug":"ciwa-final/stats"} /-->

	<!-- wp:pattern {"slug":"ciwa-final/testimonials"} /-->

	<!-- wp:pattern {"slug":"ciwa-final/news"} /-->

	<!-- wp:pattern {"slug":"ciwa-final/instagram"} /-->

	<!-- wp:pattern {"slug":"ciwa-final/contact"} /-->

	<!-- wp:pattern {"slug":"ciwa-final/map"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
